<!doctype html>

<html>
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,
	initial-scale=1.0">

</head>
<body>
	<img src="http://garad.org/uploads/profileImage/noimage.jpg" alt="Lorem Pixel image" class="img-responsive" width="50" height="50">



	<!-- importing javascript files into html -->
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/mainPage.js"></script>


	<!-- importing css(bootstrap) files into html -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/mainPage.css" rel="stylesheet">


</body>
</html>

