<!DOCTYPE html>

<html lange="en-US">
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,
	initial-scale=1.0">
	<!-- importing css(bootstrap) files into html -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<!--<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">-->
	<link rel="stylesheet" type="text/css" href="./css/mainPage.css">

</head>
<body>
	<div class="homeScreenContainer">
		<div class="cameraPicClass">
			<img src="https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/1909558/300/200/m1/fpnw/wm0/camera-thin-line-icon-01-.jpg?1479381787&s=6df90e9016794e8c8181458f469d3e83" alt="Camera" id="cameraPic">
		</div>

		<div class="dropdown">
		  <button onclick="myFunction()" class="dropbtn"></button>
		  <div id="myDropdown" class="dropdown-content">
		    <a href="/myProducts">myProducts</a>
		    <a href="#">Link 2</a>
		    <a href="#">Link 3</a>
		  </div>
		</div>

		<div class="homeContainer">	
			
			<div class="homeIcon">
				<h3>HOME</h3>
			</div>

			<div class="userFacePic">
				<img src="http://garad.org/uploads/profileImage/noimage.jpg" alt="Lorem Pixel image" id="userFace" class="img-circle" width="50" height="50">
			</div>

		</div><!-- end of home container-->

		<!-- The form -->
		<div class="searchBar" align="right">
			<form class="searchForm" action="action_page.php">
			  <input id="searchText" type="text" placeholder="Search.." name="search">
			  <button id="searchBtn" type="submit" id="submitBtn"><i class="fa fa-search"></i></button>
			</form>
		</div>

		<div id="wrap">
			<div style="position:relative; left:20px; top:75px" class="left"></div>
			<div style="position:relative; left:20px; top:75px" class="right"></div>
		</div>

		<div id="wrap2">
			<div style="position:relative; left:20px; top:150px" class="left2"></div>
			<div style="position:relative; left:20px; top:150px" class="right2"></div>
		</div>
		
		
	</div> <!-- end of homePage container-->
	
	<!-- importing javascript files into html -->
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<!--<script src="js/bootstrap.min.js"></script>-->
	<script src="js/mainPage.js"></script>


</body>
</html>

