<!DOCTYPE html>

<html lange="en-US">
<head>
	<!-- Google Analytics Content Experiment code -->
	<script>function utmx_section(){}function utmx(){}(function(){var
	k='171074764-1',d=document,l=d.location,c=d.cookie;
	if(l.search.indexOf('utm_expid='+k)>0)return;
	function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
	indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
	length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
	'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
	'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
	'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
	valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
	'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
	</script><script>utmx('url','A/B');</script>
	<!-- End of Google Analytics Content Experiment code -->

	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,
	initial-scale=1.0">
	<link rel="stylesheet" type="text/css" media="screen and (max-width: 360px)" >
	<meta name="google-signin-scope" content="profile email">
    <!--<meta name="google-signin-client_id" content="699556467015-1ek431j2vanuc3ojrvjr5c78a8gqj212.apps.googleusercontent.com">-->
    <meta name="google-signin-client_id" content="699556467015-1gleonhv31evqt8aftrgcnmljf44dlvo.apps.googleusercontent.com">
    
    <!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->

	<!-- importing css(bootstrap) files into html -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<!--<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">-->
	<link rel="stylesheet" type="text/css" href="./css/loginPage.css">
	<link rel="stylesheet" type="text/css" href="./css/index.css">

</head>
<body class="login_page">

	<div class="loginPageContainer">

	<div class="beauti">
		<p>BEAUTI</p>
	</div> 
    
    {{#if viewAlt}}
    <div class="loginBoxScrollingWrapper">
		  	<!--<div class="scrollStepsLogin">-->
		  		<div class="image">
		  			<img src="https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-9/28660965_1768552836490750_8824996580152049664_n.png?oh=39fbb992b5cc1e3354f7d2d445b90991&oe=5B0F7836">
		  			<p><b>Makeup Collection On the Go</b></p>
		  			<p>Digitalize your makeup collection<br> and have it on the palm of your hands<br> whenever you need it!</p>
		  		</div>
		  		<div class="image">
		  			<img src="https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-9/28471406_1768552839824083_7197302149330501632_n.png?oh=c8e43b5aac5818c1292c95d2451a45b3&oe=5B4BD8A7">
		  			<p><b>Learn New Looks</b></p>
		  			<p>Watch tutorials tailored to the<br>products you own, and improve your<br>skills as a makeup artist.</p>
		  		</div>
		  		<div class="image">
		  			<img src="https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-9/28468764_1768552849824082_7527462560321241088_n.png?oh=87a19627dd2e4b88d9b3e71af48870c8&oe=5B03DA96">
		  			<p><b>Store Your Creations</b></p>
		  			<p>Upload pictures of your makeup<br>creations, and be able to look back<br>on your progress as an artist!</p>
		  		</div>
			<!--</div>-->
    </div>
	{{else}}
	
	{{/if}}


    <div class="g-signin2" id="loginBtn" style="margin-top: 180px;" act="/add" data-onsuccess="onSignIn" data-theme="light"></div>
    

    <!--<button id="signOutBtn">
     	<a href="" style="color:black; font-weight:bold;" onclick="signOut();">Sign out</a>
 	</button>-->
 	

	 <!--button to go to next page(main home page) from the login page-->
		<div id="nextPageLoginBtn">		
			<button>
 				<a href="/index" style="color:black; font-weight: bold;" >continue</a>
 			</button>
 		</div>

	</div> <!-- end of login page container-->

	<!--<img src="https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-9/28468764_1768552849824082_7527462560321241088_n.png?oh=87a19627dd2e4b88d9b3e71af48870c8&oe=5B03DA96">-->

	<!--<div class="helpTagLine">
 		
 		Learn new makeup looks with your existing products!
 		
 	</div>

	<div class="steps">
		  		<div class="step1Block">
			 		<p>Step 1: input products on profile page!</p>
			 	</div>
			 	<div class="step2Block">
			 		<p>Step 2: check out some recommended tutorials!</p>
			 	</div>
			 	<div class="step3Block">
			 		<p>Step 3: take a selfie to record your new makeup look!</p>
			 	</div>
	</div>-->
	<!-- Trigger/Open The Modal -->
			
			<!-- Trigger/Open The Modal -->
			<button id="helpBtn">?</button>

			<!-- The Modal -->
			<div id="myModal" class="modal">

			  <!-- Modal content -->
			  <div class="modal-content">
			    <span class="close">&times;</span>
			    <b>Step 1:</b> go add some products on your profile page to get started! (or take a look at some popular makeup tutorials and get inspired!) <br><br>
			    
			    <b>Step 2:</b> on the next page, watch some reccommended makeup tutorials or pick a look and watch the corresponding tutorial. <br> <br>
			    
			    <b>Step 3:</b> go ahead and post a selfie recording your makeup look! We will recommend some new tutorials based on the products you have inputted :) <br><br>

			    <b>That's it! It's as easy as 1,2,3! </b>

			    
			  </div>

			</div> <!-- end of modal class-->
			


	<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
	<!--<script src="/__/firebase/init.js"></script>-->
	<!--<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyD5j9eVne2AowwZeSZLYsl_04Lg_FkECa0",
	    authDomain: "cse170-makeup-ap-1518681818974.firebaseapp.com",
	    databaseURL: "https://cse170-makeup-ap-1518681818974.firebaseio.com",
	    projectId: "cse170-makeup-ap-1518681818974",
	    storageBucket: "cse170-makeup-ap-1518681818974.appspot.com",
	    messagingSenderId: "699556467015"
	  };
	  firebase.initializeApp(config);-->
	
	<script src="https://apis.google.com/js/platform.js" async defer></script>

	<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-firestore.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-messaging.js"></script>

	
	<!-- importing javascript files into html -->
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<!--<script src="js/bootstrap.min.js"></script>-->
	<script src="js/loginPage.js"></script>
	<script src="js/index.js"></script>
		

	<!-- Global site tag (gtag.js) - Google Analytics 
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114654008-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());-->
	  <script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	  
	  	ga('create', 'UA-114654008-2', 'auto');
		ga('send', 'pageview');
	</script>



</body>
</html>

