<!DOCTYPE html>

<html lange="en-US">
<head>
	<title>Products Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,
	initial-scale=1.0">
	<!-- importing css(bootstrap) files into html -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet"> 
	<!--<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">-->
	<link rel="stylesheet" type="text/css" href="./css/loginPage.css">
	<link rel="stylesheet" type="text/css" href="./css/index.css">
	<link rel="stylesheet" type="text/css" href="./css/myProducts.css">
	<!-- "../public/css/myProducts.css"-->
 
</head>
<body>
	<button id="backBtn"><a href="/index"><</a></button>
	<!--<form>
	  <input type="button" value="<" onclick="history.back()">
	</form>-->
	
	<div class="topPageContainer">
		<h2 id="productsTitle">My Profile</h2>
		<div class="userFacePic">
			<img src="http://garad.org/uploads/profileImage/noimage.jpg" alt="Lorem Pixel image" id="userFace" class="img-circle" width="100" height="100">
		</div>
	</div>
	
	
	<div class="tabsContainer">
	<!-- Tab links -->
	<div class="tab">
	  <button class="tablinks" id="defaultOpen" onclick="openCity(event, 'userProducts')">Products</button>
	  <button class="tablinks" onclick="openCity(event, 'userLooks')">Looks</button>
	</div>

	<!-- Tab content -->
	<div id="userProducts" class="tabcontent">
		 <div class="productsContainer">

		 	<!-- Trigger/Open The Modal -->
			
			<button id="myBtnProducts">Add a Product</button>

			<!-- The Modal -->
			<div id="myModalProducts" class="modalProducts">

			  <!--Modal content -->
			  <div class="modal-content-products">
			  	<span class="closeProducts" aria-hidden="true">&times;</span>
			  	<h3><b>Add a product</h3>

			    <div class="modal-content-products-container">
			    	<form id="addBtnForm" role="form" method="get" action="/addProducts">	
						<input type="submit" id="submitBtn" class="btn btn-default" value="Add product!"></input>
					</form>


			  </div> <!--end of modal content container-->
			</div> <!--end of modal content-->


			</div> <!--end of modal class-->

			{{#each products}}
			<div class="productsInProfile">
				<img src="{{imageURL}}" class="img-responsive">
			</div>
			{{/each}}

		 	<!--<img src="https://www.urbandecay.com/dw/image/v2/AANG_PRD/on/demandware.static/-/Sites-urbandecay-master-catalog/default/dw6b32d5da/ProductImages/Palettes/Afterdark/3605971388385_afterdark.jpg?sw=1000&sh=1000&sm=fit" class="img-responsive">

		 	<img src="https://images-na.ssl-images-amazon.com/images/I/41uRZi7nxWL._SY450_.jpg" class="img-responsive">

		 	<img src="https://www.snupps.com/api/2.9/users/1094649/items/8253741/views/7826402-1.1024.jpg" class="img-responsive">

		 	<img src="https://i5.walmartimages.com/asr/690249d2-b5a9-4dd7-82a2-e5413311d387_1.1957c0d33f2db0b3cc708f3727109203.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF" class="img-responsive">-->

			<!--{{#each products}}
			<div class="products">
				<img src="{{imageURL}}" class="img-responsive">		
			</div>
			{{/each}}-->

		</div>

	</div>

	<div id="userLooks" class="tabcontent">

		<!-- Trigger/Open The Modal -->
			<button id="myBtn">Add Look</button>

			<!-- The Modal -->
			<div id="myModal" class="modal">

			  <!-- Modal content -->
			  <div class="modal-content">
			  	<h3><b>Select or take a selfie to record your makeup look!</h3>
			  	<span class="close" aria-hidden="true">&times;</span>

			    <div class="modal-content-container">

			    
		 	<div class="cameraPicClass" id="cameraFile">
					<button>
						<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
						<input type="file" accept="image/*" id="file-input">
					</button>
						<img id="output">
						<script>

						let file;
						const fileInput = document.getElementById('file-input');
						function sendPic(){
							var file = fileInput.files[0];
						}

  						fileInput.addEventListener('change', (e) => doSomethingWithFiles(e.target.files));

  						/*fileInput.addEventListener('change', sendPic, false);*/

  						const output = document.getElementById('output');

						  function doSomethingWithFiles(fileList) {
						    file = null;

						    for (let i = 0; i < fileList.length; i++) {
						      if (fileList[i].type.match(/^image\//)) {
						        file = fileList[i];
						        break;
						      }
						    }

						    if (file !== null) {
						      output.src = URL.createObjectURL(file);
						      var ref = firebase.storage().ref('/looks');
						      var childRef = ref.child(output.src);
						      childRef.put(file).then(function(snapshot){
						      	console.log('uploaded a file!');
						      });

						    }
						  }

						  function uploadFile(){
						  var storageRef = firebase.storage().ref('/looks');
						  $("#cameraFile").on("change", function(event){
						  file = event.target.files[0]; });
						  var filename = file.name;
						}

						</script>
					<!--</button>-->
			</div><!-- end of cameraPic class-->

			<button id="uploadFile" onclick="uploadFile()">
			    	Upload selected file!
		 		</button>

			  </div>
			</div><!-- end of modal content-->


			</div><!-- end of modal class-->

		<!--{{#each looks}}
		<div class="looksInProfile">
			<img src="{{imageURL}}" class="img-responsive">
		</div>
		{{/each}}-->
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1xzX_tuMc9bgz0Np4NCRTxCqPQP73TY3FAtrThuaYi3_4XG_DlA" class="img-responsive">

		<img src="http://shortyawards.com.s3.amazonaws.com/entries/8th/screen-shot-2016-01-18-at-51154-p.png" class="img-responsive">

		<img src="https://www.thefamouspeople.com/profiles/images/rachel-levin-1.jpg" class="img-responsive">

		<img src="https://pbs.twimg.com/media/CwzCfpFUcAESuDY.jpg:large" class="img-responsive">

		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1xzX_tuMc9bgz0Np4NCRTxCqPQP73TY3FAtrThuaYi3_4XG_DlA" class="img-responsive">	
	  
	</div>

	</div>

	<!-- importing javascript files into html -->
	<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<!--<script src="js/bootstrap.min.js"></script>-->
	<script src="js/loginPage.js"></script>
	<script src="js/index.js"></script>

	<script src="js/myProducts.js"></script>





</body>
</html>