<!DOCTYPE html>

<html lange="en-US">
<head>
	<title>Products Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,
	initial-scale=1.0">
	<!-- importing css(bootstrap) files into html -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<!--<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">-->
	<link rel="stylesheet" type="text/css" href="./css/mainPage.css">
	<link rel="stylesheet" type="text/css" href="./css/myProducts.css">
	<!-- "../public/css/myProducts.css"-->

</head>
<body>
	<!--<p id="backBtn"><a href="/index">Back</a></p>-->
	<form>
	  <input type="button" value="Go back!" onclick="history.back()">
	</form>
	<h3 id="productsTitle">PRODUCTS PAGE</h3>
	<div class="productsContainer">
		<div class="productLeft"><p>1</p></div>
		<div class="pruductRight"><p>2</p></div>
	</div>
	<div  class="productsContainer">
		<div class="productLeft"><p>3</p></div>
		<div class="pruductRight"><p>4</p></div>
	</div>
	<div class="productsContainer">
		<div class="productLeft"><p>5</p></div>
		<div class="pruductRight"><p>6</p></div>
	</div>
	<!-- importing javascript files into html -->
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<!--<script src="js/bootstrap.min.js"></script>-->
	<script src="js/mainPage.js"></script>
	<script src="js/myProducts.js"></script>



</body>
</html>