<!DOCTYPE html>

<html lange="en-US">
<head>
	<title>Products Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,
	initial-scale=1.0">
	<!-- importing css(bootstrap) files into html -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet"> 
	<!--<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">-->
	<link rel="stylesheet" type="text/css" href="./css/loginPage.css">
	<link rel="stylesheet" type="text/css" href="./css/index.css">
	<link rel="stylesheet" type="text/css" href="./css/myProducts.css">
	<!-- "../public/css/myProducts.css"-->
 
</head>
<body>
	
	<button onClick="location.href='/index'" id="backBtn" class="btn btn-outline-success" style="background-color: transparent;" type="button">
		    	<span class="glyphicon glyphicon-chevron-left"></span>
	</button>

	
	<div class="topPageContainer">
		<div class="userFacePic">
			<img  id="userFaceImage" src="http://garad.org/uploads/profileImage/noimage.jpg" alt="Lorem Pixel image" id="userFace" class="img-circle" width="100" height="100">
		</div>
		<h2 id="productsTitle">My Profile</h2>
	</div>
	
	
	<div class="tabsContainer">
	<!-- Tab links -->
	<div class="tab">
	  <button class="tablinks" id="defaultOpen" onclick="openCity(event, 'userProducts')">My Products</button>
	  <button class="tablinks" onclick="openCity(event, 'userLooks')">My Looks</button>
	</div>

	<!-- Tab content -->
	<div id="userProducts" class="tabcontent">
		<img src="https://www.shemazing.net/wp-content/uploads/2015/09/unnamed_10_2_2.jpg" class="firstProduct">
		 <div class="productsContainer">

		 	<!-- Trigger/Open The Modal -->
			
			<button id="myBtnProducts" style="font-size: 100px;text-align: center;">+</button> <!-- add a product button -->

			<!-- The Modal -->
			<div id="myModalProducts" class="modalProducts">

			  <!--Modal content -->
			  <div class="modal-content-products">
			  	<span class="closeProducts" aria-hidden="true">&times;</span>
			  	<h3><b>Add a product</h3>

			    <!--<div class="modal-content-products-container">-->
			    	<form id="addBtnForm" role="form" method="get" action="/addProducts">
			    	<div class="form-group">
				      <label for="productType">Product Type:</label>
				      <input type="text" class="form-control" id="productTypeID" placeholder="eg: lipstick, eyeliner, etc" name="productType">
				    </div>
				    <div class="form-group">
				      <label for="productName">Product Name:</label>
				      <input type="text" class="form-control" id="productNameID" placeholder="product name" name="productName">
				    </div>	
						<input type="submit" id="submitBtn" class="btn btn-default" value="Add product!"></input>
					</form>

			  <!--</div> end of modal content container-->
			</div> <!--end of modal content-->


			</div> <!--end of modal class-->

			{{#each productsData.products}}
			<div class="productsInProfile">
				<img src="{{imageURL}}" class="img-responsive">
			</div>
			{{/each}}


		</div>

	</div>

	<div id="userLooks" class="tabcontent">
	<img src="https://pbs.twimg.com/media/CwzCfpFUcAESuDY.jpg" style="margin-left: 30px;" class="firstLook">
		<div class="looksContainer">
		<!-- Trigger/Open The Modal -->
			<button id="myBtn" style=" font-size: 100px;text-align: center;">+</button> <!-- add looks button -->
			

			<!-- The Modal -->
			<div id="myModal" class="modal">

			  <!-- Modal content -->
			  <div class="modal-content">
			  	<h3><b>Select or take a selfie to record your makeup look!</h3>
			  	<span class="close" aria-hidden="true">&times;</span>

			    <div class="modal-content-container">
			 

			    
		 	<div class="cameraPicClass" id="cameraFile" name="lookImage">
		 		<!--<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>-->
					<!--<button>-->
						<!--<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>-->
						<!--<button>-->
						    <!--<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>-->
						<!--<div class="input-group-addon">
						<input type="file" accept="image/*" id="file-input">-->
					<!--</button>-->
					<div class="input-group">
					    <!--<div class="input-group-addon">
					      <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
					    </div>-->
					    <input type="file"  value="&#xf0f6" placeholder="fa fa-camera" accept="image/*" id="file-input">
					  </div>
						
						
					<!--</button>-->
						<img id="output">
						<script>

						//var datafile = require('../looks.json');

						let file;
						let isFileNull;
						//var fs = require('../looks.json');
						
						const fileInput = document.getElementById('file-input');
						function sendPic(){
							var file = fileInput.files[0];
						}

  						fileInput.addEventListener('change', (e) => doSomethingWithFiles(e.target.files));

  						/*fileInput.addEventListener('change', sendPic, false);*/

  						const output = document.getElementById('output');

						  function doSomethingWithFiles(fileList) {
						    file = null;

						    for (let i = 0; i < fileList.length; i++) {
						      if (fileList[i].type.match(/^image\//)) {
						        file = fileList[i];
						        break;
						      }
						    }

						    if (file !== null) {
						      isFileNull=false;
						      output.src = URL.createObjectURL(file);
						     
    							document.getElementById("lookImageId").src = output.src;
    							document.getElementById("lookImageId").style.visibility = 'visible';
    							document.getElementById("dateUploaded").style.visibility = 'visible';
    							
    							/*var newLook1 = {
									"imageURL" : output.src
		
									};*/

								

								/*fs.readFile('./looks.json', 'utf-8', function(err, data) {
									if (err) throw err

									var arrayOfObjects = JSON.parse(data);
								arrayOfObjects.users.push({
										imageURL: output.src
										
									});

									console.log(arrayOfObjects);
								});*/

								/*document.looksData.looks.push({
									imageURL: output.src
								});*/

								

								/*window.looksData.writeFile('./looks.json', JSON.stringify(arrayOfObjects), 'utf-8', function(err) {
									if (err) throw err
									console.log('Done!');
								});*/

								

						      console.log("FILE URL IS: "+ output.src);
						      var ref = firebase.storage().ref('/looks');
						      var childRef = ref.child(output.src);
						      childRef.put(file).then(function(snapshot){
						      	console.log('uploaded a file!');
						      });

						    }
						  }

						  function uploadFile(){
						  var storageRef = firebase.storage().ref('/looks');
						  $("#cameraFile").on("change", function(event){
						  file = event.target.files[0]; });
						  var filename = file.name;


						  closeModal();
						}

						function closeModal(){
							modal.style.display = "none";
							alertSuccessfulFileUpload();

						}

						function alertSuccessfulFileUpload(){
							alert("successfully uploaded image!");
						}
						function checkIfFileIsNull(){
							if(file == null){
								isFileNull= true;
								alert("No image selected: please select an image to upload!");
							}
							else{
								uploadFile();

							}
							
						}  

						</script>
					<!--</button>-->
			</div><!-- end of cameraPic class-->


			<!--<form id="addLookForm" role="form" method="get" action="/addLooks">-->
				<!--<input type="text" class="form-control" id="lookImageId" name="lookImage">
				<input type="submit" id="submitBtn" class="btn btn-default" value="Add product!" onclick="checkIfFileIsNull();">-->
				
				<button id="uploadFile" onclick="checkIfFileIsNull();">
				    	Upload selected file!
			 	</button>
			 

			 <!--<input type="text" style="display: none;" id="lookImageInput" name="lookImage" value="">
			 <input type="submit" id="submitBtn" class="btn btn-default" value="Add product!" onclick="checkIfFileIsNull();">

		 	</form>-->
		

			  </div>
			</div><!-- end of modal content-->


			</div><!-- end of modal class-->

		<p><br>March 6th<br></p>
		{{#each looksData.looks}}
		<div class="looksInProfile">
			<img src="{{imageURL}}" class="img-responsive">
		</div>
		{{/each}}

		<p id="dateUploaded" style="visibility: hidden; margin-top: 30px;"><br>March 15th<br></p>
		<img src="" style="border:0; visibility: hidden;" id="lookImageId">
			
	  
	</div>

	</div>

	
	
	<!-- importing javascript files into html -->
	<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<!--<script src="js/bootstrap.min.js"></script>-->
	<script src="js/loginPage.js"></script>
	<script src="js/index.js"></script>

	<script src="js/myProducts.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114654008-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-114654008-2');
	</script>-->




</body>
</html>