<!DOCTYPE html>

<html lange="en-US">
<head>
	<title>Products Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,
	initial-scale=1.0">
	<!-- importing css(bootstrap) files into html -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<!--<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">-->
	<link rel="stylesheet" type="text/css" href="./css/loginPage.css">
	<link rel="stylesheet" type="text/css" href="./css/index.css">
	<link rel="stylesheet" type="text/css" href="./css/myProducts.css">
	<!-- "../public/css/myProducts.css"-->

</head>
<body>
	<!--<p id="backBtn"><a href="/index">Back</a></p>-->
	<form>
	  <input type="button" value="<" onclick="history.back()">
	</form>
	<h3 id="productsTitle">PRODUCTS PAGE</h3>
	<script>
		function checkUserProfile(profile){
			console.log(profile);
		}
	</script>
	{{#each userProfiles}}
	<div class="profilePic">
			
		<img src=userProfiles[0] class="img-responsive">
				
	</div>
	{{/each}}
		


	<!--<div class="productsContainer">
		<div class="productLeft">
			<img src="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1481306057000/photosp/d4bf04c0-4673-4471-9833-0783dcffd35e/stock-photo-colorful-beauty-cosmetics-colors-brush-makeup-style-beauty-care-eyeshadow-d4bf04c0-4673-4471-9833-0783dcffd35e.jpg" class="img-responsive">
		</div>
		
		<div class="pruductRight"><p>2</p></div>
	</div>
	<div  class="productsContainer">
		<div class="productLeft"><p>3</p></div>
		<div class="pruductRight"><p>4</p></div>
	</div>
	<div class="productsContainer">
		<div class="productLeft"><p>5</p></div>
		<div class="pruductRight"><p>6</p></div>
	</div>-->

	<!-- importing javascript files into html -->
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<!--<script src="js/bootstrap.min.js"></script>-->
	<script src="js/loginPage.js"></script>
	<script src="js/index.js"></script>
	<script src="js/myProducts.js"></script>



</body>
</html>