<!DOCTYPE html>

<html lange="en-US">
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,
	initial-scale=1.0">
	<!-- importing css(bootstrap) files into html -->
	<!--<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/loginPage.css">-->
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/searchPicFile.css">


	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>
<body class="searchPicFilePage">
	<!--<p id="backBtn"><a href="/index">Back</a></p>-->
	<button onClick="location.href='/index'" id="backBtnSearchPage" class="btn btn-outline-success" style="background-color: transparent; top:10px; left:5px; width: 20px; height: 20px; position: absolute;
	padding: 2px 5px;" type="button"><
		    	<span class="glyphicon glyphicon-chevron-left"></span>
	</button>

	
	<!-- importing javascript files into html -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!--<script src="js/jquery-1.11.0.js"></script>-->
	<!--<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/loginPage.js"></script>
	<script src="js/index.js"></script>-->
	
	<script src="/js/video.js"></script>
	<script src="/js/searchPicFile.js"></script>

  	
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114654008-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-114654008-2');
	</script>



</body>
</html>