<!DOCTYPE html>

<html lange="en-US">
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,
	initial-scale=1.0">
	<!-- importing css(bootstrap) files into html -->
	<!--<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/loginPage.css">-->
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/video.css">

	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>
<body class="videoPage">
	<!--<p id="backBtn"><a href="/index">Back</a></p>-->

	<nav class="navbar navbar-light bg-faded" id="navbar">
		  <form class="form-inline">
	  		<input type="button" value="<" onclick="history.back()">
	  		<span class="navbar-text">VIDEO</span>
	  	</form>
	</nav>

	
	
	<div class="videoSize">
		<iframe src="{{link}}" target="_parent"></iframe>
	</div>

	<!-- Use an element to toggle between a like/dislike icon -->
	<i onclick="myFunction(this)" style="color: purple; size: 50px;" class="fa fa-thumbs-up"></i>

	<script>
		function myFunction(x) {
	    x.classList.toggle("fa-thumbs-down");
		}
	</script>
	
	{{{videoInfo}}}

	
	


	<!--<div>
		<iframe src="{{link}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>-->

	
	<!-- importing javascript files into html -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!--<script src="js/jquery-1.11.0.js"></script>-->
	<!--<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/loginPage.js"></script>
	<script src="js/index.js"></script>-->
	<script src="/js/video.js"></script>
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114654008-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-114654008-2');
	</script>



</body>
</html>