/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

body.homePage{
	
	background-color: #FEDFE3; 	
}

.scrolling-wrapper {
  /*-webkit-overflow-scrolling: touch;*/
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  position:absolute;
  display:block;
  top:120px;
  left:0;
  width:360px;
  max-height:500px;
  margin:0;
  /*background:#abc;*/
  background:transparent;
  &::-webkit-scrollbar {
    display: none;
  }

}

.scrolling-wrapper div {

	-webkit-overflow-scrolling: touch;
    
    display: inline-block;
    
    margin: 17px;
    max-width: 200px;
    border-radius: 4px;
  }


.card {
    display: inline-block;

  }

.logoutLblPos{
   position:fixed;
   left:20px;
   top:7px;
}

.videoContainer {
  margin-top: 180px;
  width: 375px;

}

.videos img{
  float: left;
  max-width: 165px;
  max-height: 150px;
  margin-top:10px; 
  margin-left: 15px;
  border-radius: 2px;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 0.5);*/
}


/*.videoContainer{
	
	margin-top: 180px;
	
}

.videos img{
	max-width: 340px;
	margin-top:10px;
	margin-left: 15px;

}*/

#navbar{
	top:10px;

}

/*#navbar #signOutBtn{
	position: absolute;
	
	float: left;
	
}*/

/*.grey{
	color:grey;

}*/

#navbar input{
	background-color: white;
}

#navbar button{
	position: absolute;
	background-color:transparent;

}



/*#navbar #userProfileBtn{
	position: absolute;
	margin-left: 70px;
    border: 1px solid grey;
    background-color: #FFFFFF;
    height: 26px;
    border-radius:10%;
    width: 26px;

}*/

#userProfileBtn {
	position: absolute;
	left: 30px;
	top:25px;
	/*border: 1px solid #b3b3b3;
	border-radius: 70%;*/
	padding: 2px 5px;

}

#navbar #searchBtn{
	position: absolute;
	top:25px;
	right:20px;
	padding: 2px 5px;
	
}

.navbar-text{
	/*position: absolute;
	height: 29px;	
	width: 93px;	
	color: #9B9B9B;	
	font-family: Helvetica;	
	font-size: 24px;	
	top:-15px;
	left:150px;*/
	
}

.line{
	width: 375px;
	top:63px;
	border-bottom: 1px solid black;
	position: absolute;
}

.line2{
	width: 375px;
	top:300px;
	border-bottom: 1px solid black;
	position: absolute;
}


#indexToLoginPageBtn{
	top:20px;
	margin-left: 30px;
	/*float:left;*/

}

.homeIcon h3{
	float:right;

}


/*.dropdown button{
	background-color: white;
}*/


h1, h2, h3, h4, h5 {
	color: #808080;
}


.cameraPicClass > img {
	max-width: 30px;
	position: absolute;
	top: 20px;
    right: 0px;
}


/*.homeScreenContainer{
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 20px;

}*/

.homeContainer {
	text-align: center;
	margin-top: -20px

}


.searchBar input[type=text] {
    border: 1px solid grey;
    float: left;
    padding: 6px;
    margin-top: 6px;
    /*margin-right: 30px;*/
    font-size: 13px;
    background-color: #A9A9A9
    
}

/*.searchBar #submitBtn {
	max-width: 10px;
	max-height: 10px;
	background-color: #A9A9A9; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
}*/
.searchBar {
	position: absolute;
	display: block;
	margin: auto;
	width: 90%;
	height: 50%;
	
}
.searchForm {
	position: relative;

}
#searchText {
	position: relative;
	float: left;
	width: 90%;

}

#searchBtn {
	position: relative;
	float: right;
	height: 30px;
	width: 30px;
	/*top:7px;*/
}


.cameraPicClass{
	top: 0;
	float:right;
}
#cameraPic {
	width:90px;
	height:auto;
}
.dropDown{
	float:left;
	position: absolute;
	color: grey;
	left:0px;
}



/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}






