/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

/*.img-responsive{
	position: absolute;
	top:300px;
}*/

.videos img{
	max-width: 100px;
	margin-top:10px;

}

.videos2 img{
	max-width: 100px;
	margin-top:10px;

}

#indexToLoginPageBtn{
	top:20px;

}


.firstRowPic1{
	margin-top: 50px;
	max-width: 100px;
	
}

.firstRowPic2{
	margin-top: -220px;
	margin-left: 150px;
	max-width: 100px;
	
}


h1, h2, h3, h4, h5 {
	color: #808080;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.cameraPicClass button{
	max-width: 200px;
	

}

.cameraPicClass > img {
	max-width: 30px;
	position: absolute;
	top: 20px;
    right: 0px;
}

.dropbtn{
	background-color: grey;
	
}

.homeScreenContainer{
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 20px;

}

.homeContainer {
	text-align: center;

}


.searchBar input[type=text] {
    border: 1px solid grey;
    float: left;
    padding: 6px;
    margin-top: 6px;
    /*margin-right: 30px;*/
    font-size: 13px;
    background-color: #A9A9A9
    
}

/*.searchBar #submitBtn {
	max-width: 10px;
	max-height: 10px;
	background-color: #A9A9A9; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
}*/
.searchBar {
	position: absolute;
	display: block;
	margin: auto;
	width: 90%;
	height: 50%;
	
}
.searchForm {
	position: relative;

}
#searchText {
	position: relative;
	float: left;
	width: 90%;

}
#searchBtn {
	position: relative;
	float: right;
	height: 30px;
	width: 30px;
	top:7px;
}


.cameraPicClass{
	top: 0;
	float:right;
}
#cameraPic {
	width:90px;
	height:auto;
}
.dropDown{
	float:left;
	position: absolute;
	color: grey;
	left:0px;
}

#wrap{
	width:300px;
}

.left{
	width:130px;
	background-color: #A9A9A9;
	height:100px;
	float:left;
}

.right{
	width:130px;
	background-color: #A9A9A9;
	height:100px;
	float:right;
}

#wrap2{
	width:300px;
}

.left2{
	width:130px;
	background-color: #A9A9A9;
	height:100px;
	float:left;
}

.right2{
	width:130px;
	background-color: #A9A9A9;
	height:100px;
	float:right;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}






