/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	/*color: #CC00AA;*/

}

body.login_page{

	height: 667px;
	width:375px;
	background:linear-gradient(318.61deg, #FFFFFF 0%, #F5D7D5 100%);
	
}

body.homePage{
	background-color: white;
}

/*.loginPageContainer{
	width: 375px;
	height: 667px;
	background-color: red;
}*/

.beauti p{
	/*position: absolute;
	height: 64px;
	width: 203px;	
	color: #FFFFFF;	
	font-family: "Arial";	
	font-size: 66px;	
	font-weight: 300;	
	/*line-height: 66px;*/
	text-align: center;
	/*margin-left: 65px;*/
	margin-top: 130px;	
	
}

.steps{
	margin-top:50px;
	margin-left: 30px;
	height:100;
	/*margin: 10px;*/
	background-color: transparent;
}

.step1Block{
	
	text-align: center;
	float: left;
	width:100px;
	height: 100px;
	background-color: white;
	opacity: 0.3;
}

.step2Block{
	
	text-align: center;

	float: left;
	width:100px;
	height: 100px;
	background-color: white;
	opacity: 0.3;
}

.step3Block{
	
	text-align: center;

	float: left;
	width:100px;
	height: 100px;
	background-color: white;
	opacity: 0.3;
}

#myBtn{
	bottom: 20px;
	right: 20px;
	position: absolute;

}

.helpTagLine{
	margin-top: 190px;
	left:50px;
	/*position: relative;*/
	text-align: center;
	font:helvetica;
	font-style: italic;
	font-size:17px;
	color:white;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*p{
	color: grey;
	text-align: center;
	margin-top: 35%;
	font-size: 30px;
}*/

#signOutBtn{
	position: absolute;
	top: 350px;
	left: 110px;
}

#nextPageLoginBtn{
	position: absolute;
	top: 350px;
	left: 210px;

}

#loginBtn{
	position: absolute;
	top: 300px;
	left: 130px;

	height: 39px;	
	width: 255px;	
	/*border-radius: 8px;*/	

}


h1, h2, h3, h4, h5 {
	color: #808080;
}






