/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}


h1, h2, h4, h5 {
	color: #808080;	
}

h3{
	color: pink;
}

body{
	margin: 10px;
	background-color: #FEDFE3;	
}


#productsTitle {
	margin-top: 10px;
	margin-bottom: 20px;

}

#output{
	max-width: 100px;
	left: 10px;

}

/*
.productsContainer {
	display: block;
	width: 100%;
	min-height: 200px;
	/*border: 2px solid grey;
}

.productLeft {
	float: left;
	width: 50%;
	min-height: 200px;
	background-color: red;
	/*border: 2px solid grey;
}

.productLeft img{
	max-width: 50px;
}
.productRight {
	float: right;
	width: 50%;
	min-height: 200px;
	background-color: blue;
	/*border: 2px solid grey;
}

.productRight img{
	max-width: 50px;
}
*/

.topPageContainer{
	text-align: center;
}


/*.productsContainer{
	width: 375px;
	margin-top: 200px;

}*/

/*input[type="file"] {
    display: none;
}*/

.productsContainer{
	margin-top: 150px;
}

.productsContainer img{
	
	width: 120px;
	max-height: 120px;
	margin-left: 20px;
	float: left;
	/*width: 150px;
	height: 150px;
	margin-left: 5px;
	margin-right: 10px;*/
	margin-top: 40px;
	border: 2px solid pink;


}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: inherit;
    max-width: 360px;

}

/* Style the buttons that are used to open the tab content */
.tab button {
   
    background-color: inherit;
    /*float: left;*/
    border: none;
    outline: none;
    cursor: pointer;
    /*padding: 14px 16px;*/
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    transition: 0.3s;
    width: 170px;

    /*padding-left: 100px;*/


}

/*.looksContainer{
	width: 375px;
	margin-top: 150px;
}*/

.looksContainer{
	margin-left: 25px;
	margin-top: 150px;
}

#userLooks img{ /*lookscontainer*/
	float: left;
	width: 120px;
	height:120px;
	margin-left:5px;
	margin-right: 10px;
	margin-top: 20px;
	border:2px solid pink;

	

}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
    
}

/* Create an active/current tablink class */
.tab button.active {
    /*background-color: #ccc;*/
    background-color: pink;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 660px;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

/* Modal Content/Box */
.modal-content {
    
    margin: 50% auto; /* 15% from the top and centered */
    padding-bottom:150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: black;
    float: right; 
    font-size: 28px;
    font-weight: bold;
	background: #606061;
	line-height: 25px;
	position: absolute;
	right: 5px;
	text-align: center;
	top: 2px;
	width: 24px;
	text-decoration: none;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;

}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    
}

.navbar input{
	background-color: white;
}

.navbar button{
	position: absolute;
	background-color: white

}

.navbar{
	/*background-color: black;*/
	
}

/*.modal-content-container{
	top:-100px;
	background-color: red;
	
	left:20px;
}*/

.modal-content-container #uploadFile{
	position: absolute;
	background-color: pink;
	color: white;
	left:150px;
	top: 210px;
}

.modal-content #cameraFile{
	position: absolute;
	top:110px;
	max-width: 100px;
}

#myBtn{
	position: absolute;

	/*top: 273px;
	left: 28px;*/
	/*margin-left: 20px;*/
	top:220px;
	margin-left: 10px;
	width: 120px;
	height: 120px;
	margin-top: 20px;
	/*border: 2px solid pink;*/
}

#myBtnProducts{
	position: absolute;
	
	/*margin-top: 10px;
	margin-left: 10px;*/
	top:220px;
	margin-left: 20px;
	width: 120px;
	height: 120px;
	margin-top: 20px;
	/*top: 273px;
	left: 28px;
	width: 100px;
	height: 100px;
	border: 2px solid pink;*/
	
}

.firstProduct{
	/*position: absolute;*/
	/*top: 273px;
	left: 193px;
	width: 150px;
	height: 150px;
	border: 2px solid pink;*/
	margin-top: 20px;
	float: right;
	margin-right: 50px;
	width: 120px;
	height: 120px;
	border: 2px solid pink;
}

.firstLook{
	/*position: absolute;*/
	/*margin-left: 50px;
	float: right;
	margin-right: 50px;
	width: 120px;
	height: 120px;
	border: 2px solid pink;*/
	/*position: absolute;*/
	margin-left: 150px;
	margin-top: 20px;
	/*float: right;*/
	width: 120px;
	height: 120px;
	border: 2px solid pink;
}

.modalProducts {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /*Fallback color */
    background-color: rgba(0,0,0,0.4); /*Black w/ opacity */
    
}

/* Modal Content/Box */
.modal-content-products {
    
    margin: 50% auto; /* 15% from the top and centered */
    padding-bottom:150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border: 1px solid #888;
    background-color: white;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content-products-container{
	background-color: red;
}

/* The Close Button */
.closeProducts {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
	background: #606061;
	line-height: 25px;
	/*position: absolute;*/
	right: 5px;
	text-align: center;
	top: 2px;
	width: 24px;
	text-decoration: none;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;

}

.closeProducts:hover,
.closeProducts:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    
}

