/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

h1, h2, h3, h4, h5 {
	color: #808080;
}

body {
	margin: 10px;
}
.productLeft img {
	max-width: 175px;
	


}
#productsTitle {

}
.productsContainer {
	display: block;
	width: 100%;
	min-height: 200px;
	border: 2px solid grey;
}
.productLeft {
	float: left;
	width: 50%;
	min-height: 200px;
	border: 2px solid grey;
}
.productRight {
	float: right;
	width: 50%;
	min-height: 200px;
	border: 2px solid grey;
}