/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

body.videoPage{
	background-color: #F5D7D5;

}

h1, h2, h3, h4, h5 {
	color: #e59d96;
}

p{
	color: #e59d96;
}

#camera-video {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

#camera-canvas {
    object-fit: cover;
    width: 200px;
    height: 200px;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}



.profilePiC img{
	max-width: 340px;
	margin-top:10px;
	margin-left: 15px;

}

.videoSize iframe{
	max-width: 360px;
	width: 350px;
	height: 200px;
	
	margin-top: 50px;
	border-radius: 12px;
	border-color: #e59d96;
	border-width: 5px;
}
 
#navbar{
	top:10px;
	text-align: center;

}

#navbar input{
	position: absolute;
	left: 10px;
	margin-right: 200px;
}

#navbar span{
	top:10px;
	color: #e59d96;
	font-family: "helvetica";
	font-size: 30px;


}

.FaceProductsScrollingWrapper {
  /*-webkit-overflow-scrolling: touch;*/
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  position:absolute;
  display:block;
  top:340px;
  left:0;
  width:360px;
  max-height:500px;
  margin:0;
  /*background:#abc;*/
  background:transparent;
  &::-webkit-scrollbar {
    display: none;
  }

}

.FaceProductsScrollingWrapper div {

	-webkit-overflow-scrolling: touch;
    
    display: inline-block;
    
    margin: 17px;
    max-width: 400px;
  }


.card {
    display: inline-block;

  }

/*.faceProdImage{
	border-radius: 12px;
	width: 50px;
	height: 50px;
	/*box-shadow: 10px 10px grey;
	
}*/

.faceProdImage img{
	width: 100px;
	height: 100px;


}





